@{
    ViewData["Title"] = "About";
}
<h1>Payments Table</h1>
<div id="app">
    <div class="ui container">
        <payments-table></payments-table>
    </div>
</div>
<script src="~/dist/js/apps/about.js"></script>